<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Agent Bingo | Canadian Bingo</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->
  <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified JavaScript -->
  <script src="static/js/jquery-1.11.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

<body>
  <!-- Facebook SDK for JavaScript -->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '309903749196666',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <!-- facebook like button -->
  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

  <div class="container">

        <div class="header">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <!-- l -->
            <li><a href="#">Contact</a></li>
          </ul>
          <img class="img-responsive" src="static/img/logo.png" alt="looniebingo">
        </div>

        <div class="jumbotron">
          <img src="static/img/welcome-cut.png" class="img-responsive center-block">
          <p><a class="btn colorbtn" href="http://www.looniebingo.com/tracking.php?sourceid=370&promotioncode=JR25" role="button">Sign Up Now!</a></p>

          <!-- Button trigger modal -->
          <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Another Bingo Agent
          </button> -->

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Get Some Bonuses</h4>
                </div>
                <div class="modal-body">
                  Play at Looney Bingo for the Best bingo Bonuses!
                  <img src="http://media.thebingoaffiliates.com/sites/pop_ups/loo/images/top01.png">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Go To Bingo!</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h3>Get a Deposit Bonus!</h3>
            <img src="static/img/deposit_bonus.jpg" alt="Deposit bonus" class="img-responsive">
            <p>As a new player at LoonieBingo you are also entitled to our great 1st deposit bonus offer:<br>1000% Bonus on your 1st Deposit!
            I.e. Deposit $50 with us and get 500BBs as your deposit bonus PLUS another 50BBs to be won in chat! 
            That’s $600 in total to play with! </p>

            <h3>Pre-order Your Bingo Cards!</h3>
            <img src="static/img/pre_order_games_button.png" alt="pre-order bingo" class="img-responsive">
            <p>Can't make it to the bingo room in time for the big game? Pre-order your cards here in three easy steps! 
            1. Chose the month and day, then the hour when the game you want to pre order for plays. 
            2. Chose the room it plays in
            3. Write down the amount of cards you want for each game during that hour and click ORDER! <br>Please note that: <br>
            You do not have to be in the room when the games you have pre-ordered for plays!
            You do need to have enough balance in your account to cover for the pre-ordered cards at the time of the games. 
            Your pre-order will be charged from your account when the games start. 
            Pre-orders cannot be deleted 1 hour prior to them playing
            </p>
            
            <h3>Play Team Bingo!</h3>
            <img src="static/img/team_bingo_button_small.png" alt="team bingo" class="img-responsive">
            <p>Grab a friend on the weekend and play team bingo!</p>
          </div>

          <div class="col-lg-6">
            <h3>October 75k Contest!</h3>
            <img src="static/img/BI23.jpg" alt="75k" class="img-responsive">
            <p>October is almost over take advantage of our 75k contest still going on!</p>

            <h3>Easy Account Funding</h3>
            <img src="static/img/fund_my_account.png" alt="fund my account" class="img-responsive">
            <p>deposits options
            moneybookers
            eco
            usemybank
            visa
            instadebit
            neteller</p>
            
            <h3>Pull Tabs!</h3>
            <img src="static/img/skratcherz.jpg" alt="pull tabs" class="img-responsive">
            <p>Just like at your local bar</p>
          </div>
        </div>

        <div class="footer">
          <p>&copy; AgentBingo 2014</p>
        </div>

  </div> <!-- /container -->


      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
    </html>
