<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Agent Bingo | Canadian Bingo</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->
  <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified JavaScript -->
  <script src="static/js/jquery-1.11.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

<body>
  <div class="container">

        <div class="header">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Agent Login<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
              <li class="text-left"><a href="#">Login</a></li>
              <li class="text-left"><a href="#">Logout</a></li>
            </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
          <img class="text-logo img-responsive" src="static/img/logo.png" alt="looniebingo">
        </div>

        <div class="jumbotron">
          <img src="static/img/welcome.png" class="img-responsive">
          <p><a class="btn btn-lg btn-warning move-button" href="http://www.looniebingo.com/tracking.php?sourceid=370&promotioncode=JR25" role="button">Sign Up Now!</a></p>

          <!-- Button trigger modal -->
          <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Another Bingo Agent
          </button> -->

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Get Some Bonuses</h4>
                </div>
                <div class="modal-body">
                  Play at Looney Bingo for the Best bingo Bonuses!
                  <img src="http://media.thebingoaffiliates.com/sites/pop_ups/loo/images/top01.png">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Go To Bingo!</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h3>Pre-order Your Bingo Cards!</h3>
            <img src="static/img/pre_order_games_button.png" alt="pre-order bingo" class="img-responsive">
            
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            
            <h3>Get a Deposit Bonus!</h3>
            <img src="static/img/deposit_bonus.jpg" alt="Deposit bonus" class="img-responsive">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
            
            <h3>Play Team Bingo!</h3>
            <img src="static/img/team_bingo_button_small.png" alt="team bingo" class="img-responsive">
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>

          <div class="col-lg-6">
            <h3>Easy Account Funding</h3>
            <img src="static/img/fund_my_account.png" alt="fund my account" class="img-responsive">
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
            
            <h3>October 75k Contest!</h3>
            <img src="static/img/BI23.jpg" alt="75k" class="img-responsive">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
            
            <h3>Pull Tabs!</h3>
            <img src="static/img/skratcherz.jpg" alt="pull tabs" class="img-responsive">
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>
        </div>

        <div class="footer">
          <p>&copy; BingoAgent 2014</p>
        </div>

  </div> <!-- /container -->


      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
    </html>
